* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2000px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
}

header nav {
    padding: 10px;
    background-color: rgba(99, 74, 74, 0.781);
    text-transform: uppercase;
    align-items: center;
    position: relative;
}

header li {
    display: inline;
}

header ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    letter-spacing: 5px;
    color: aliceblue;
    transition: .3s linear;
    padding: 20px;
    text-shadow: 0 0 10px rgb(249, 235, 235);
}

div nav {
    padding: 10px;
    background-color: rgba(99, 74, 74, 0.781);
    text-transform: uppercase;
    align-items: center;
    position: relative;
}

#vegeburger-icon {
    margin: auto 10px;
    display: none;
    cursor: pointer;
}

#vegeburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu a {
    text-decoration: none;
    letter-spacing: 5px;
    color: aliceblue;
    transition: .3s linear;
    padding: 20px;
    text-shadow: 0 0 10px rgb(249, 235, 235);
}

button {
    color: aliceblue;
    background-color: rgba(99, 74, 74, 0);
    text-shadow: 0 0 10px rgb(249, 235, 235);
    cursor: pointer;
    transition: .3s linear;
    border: none;
    border-radius: 10px;
    padding: 0;
    margin: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
}

/**********
  Pocetna 
 **********/

#index {
    background-image: linear-gradient(rgba(151, 113, 113, 0.3), rgba(155, 108, 108, 0.5)), url(./img/vegan\ sl.jpg);
    width: 100%;
    background-position: bottom;
    background-size: cover;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

#zaglavlje {
    font-style: italic;
    font-size: 1.2rem;
    color: rgb(248, 247, 247);
    text-align: center;
    /* height: 150px; */
    width: 30%;
    margin: 20px 0 0 20px;
    padding: 20px 10px;
    background-color: rgba(119, 77, 77, 0.692);
}

aside {
    max-width: 1300px;
}

aside h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    color: rgb(112, 54, 54);
    text-align: right;
    margin: 30px 10% 30px 0;
}

aside p {
    text-align: justify;
    padding: 40px 5px 0 5px;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 20px;
    color: rgb(99, 72, 72);
    text-justify: inter-word;
}

#glavno1 {
    margin: 0 auto;
    max-width: 1500px;
    background-color: bisque;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    padding: 20% 5px 0 5px;
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: left;
}

#glavno1 h2 {
    font-size: 2rem;
    text-align: right;
    margin: 20px 50px;
    padding-bottom: 20px;
}

#glavno1 h3 {
    text-align: left;
    font-size: 2rem;
    margin: 20px 50px;
    padding-bottom: 20px;
}

#glavno1 p {
    padding: 10px 30px 50px 30px;
    font-size: 1.3rem;
    text-align: left;
}

/**********
  Zdravlje
 **********/

#zdravlje {
    background-image: linear-gradient(rgba(231, 211, 211, 0), rgba(255, 255, 255, 0.863)), url(./img/zdravlje-crtez.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
}

#glavno2 {
    background-color: rgba(236, 211, 222, 0.568);
    font-size: 1.3rem;
    padding-top: 50px;
}

#glavno2 section {
    background-color: rgba(221, 188, 216, 0.63);
    margin: 0 7%;
}

#glavno2 h2 {
    font-size: 2rem;
    margin: 5% 0 0 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-top: 30px;
}

#glavno2 h3 {
    font-size: 1.5rem;
    padding: 10px 10px 10px 20px;
}

#glavno2 section p {
    padding: 25px 40px 45px 30px;
    line-height: 1.7rem;
}

div iframe {
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 15px 15px 20px rgb(110, 93, 93);
}

.bottom {
    background-color: rgba(128, 117, 138, 0.212);
    padding: 0 30px 30px 20px;
}

.bottom p {
    padding: 25px 40px 45px 30px;
    line-height: 1.7rem;
}

.bottom li {
    display: list-item;
    margin: 0 45px;
}

.bottom a {
    transition: .3s linear;
}

.bottom a:link {
    color: rgb(96, 145, 145);
}

.bottom a:visited {
    color: rgb(119, 95, 28);
}

.bottom a:hover {
    color: rgb(104, 73, 112);
}

/**********
  Recepti
 **********/
#bilje {
    display: none;
    background-image: linear-gradient(rgba(55, 38, 38, 0.355), rgba(147, 121, 121, 0.809)), url(./img/bilje.jpg);
    background-position: center;
    background-size: cover;
}

#glavno3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.5)), url(./img/pozadina2.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.1rem;
}

h4 {
    font-size: 1.5rem;
    padding: 20px 0 30px 20px;
}

h5 {
    font-size: 1.5rem;
    padding: 5px 0 30px 20px;
}

h6 {
    font-size: 1.1rem;
    padding-bottom: 5px;
}

#glavno3 section h3 {
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: underline;
}

#glavno3 section {
    display: flex;
    margin: 0 50px;
    text-align: center;
    justify-content: center;

}

#glavno3 section div {
    color: white;
    width: unset;
    padding: 25px;
    background-color: rgba(119, 77, 77, 0.637);
    margin: 30px 0;
    flex: 1 0;
}

#glavno3 section li {
    line-height: 1.5rem;
    margin-left: 10px;
    list-style: none;
}

#glavno3 section img {
    width: 320px;
    height: 300px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgb(72, 67, 67);
}

#glavno3 section p {
    padding: 20px 5px;
    line-height: 1.5rem;
}

/**********
  Kontakt
 **********/
#knjiga {
    background-image: linear-gradient(rgba(75, 55, 55, 0.549), rgba(251, 209, 82, 0.435)), url(./img/kontakt2.jpg);
    background-position: center;
    background-size: cover;
    display: none;
}

#kontakt_crop {
    background-image: linear-gradient(rgba(75, 55, 55, 0.549), rgba(251, 209, 82, 0.435)), url(./img/kontakt_crop.jpg);
    background-position: center;
    background-size: cover;
    display: none;
}

#kontakt {
    background-color: rgba(255, 235, 205, 0.87);
}

#kontakt h1 {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 100px;
    color: rgb(134, 68, 68);
}

.kontakt-p {
    line-height: 2.2rem;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(129, 84, 84);
    width: unset;
    padding: 0 40px;
    margin: 100px auto 0;
}

#logo img {
    width: 80%;
    margin: 50px auto;
    display: block;
}

form {
    margin: 0 auto;
    text-align: center;
}

form input {
    font-family: monospace;
    display: block;
    margin: 20px 50px;
    width: 90%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.795);
    border: none;
    border-radius: 5px;
    font-size: large;
}

textarea {
    font-size: large;
    padding: 10px 10px 200px 10px;
    border-radius: 5px;
    margin: 20px 50px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.795);
    border: none;
    display: block;
}

form input:last-of-type {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(158, 73, 73, 0.568);
    cursor: pointer;
    transition: .3s linear;
    margin-bottom: 100px;
    width: 120px;
    border-radius: 10px;
}

form input:last-of-type:hover {
    background-color: rgb(179, 139, 92);
}


.popup {
    width: 400px;
    background: rgba(223, 195, 195, 0.478);
    border-radius: 10px;
    margin: 200px auto;
    text-align: center;
    padding: 0 30px 30px;
}

.popup img {
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    color: rgb(129, 84, 84);
    margin: 50px auto;
}

.popup p {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(129, 84, 84);
}

/**********
  Footer
 **********/

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(99, 72, 72, 0.692);
    color: white;
    text-shadow: 0 0 5px rgb(253, 204, 204);
}

#futer {
    padding: 10px;
    color: #fff;
    transition: .3s linear;
    margin-left: 10px;
}

#futer:hover {
    opacity: 0.7;
}

.fa {
    color: #fff;
    transition: .3s linear;
    text-decoration: none;
    margin-left: 10px;
}

.fa:hover {
    opacity: 0.7;
}

/****************
  M E D I A
****************/

@media (min-width: 1000px) {
    form input {
        margin: 20px auto;
        width: 50%;
    }

    textarea {
        margin: 20px auto;
        width: 50%;
    }

    form input:last-of-type {
        width: 50%;
    }

    #kontakt h1 {
        margin: 200px 0 150px 0;
    }

    .kontakt-p {
        width: 700px;
    }

    #logo img {
        width: 50%;
        margin: 50px auto;
        display: block;
    }

}

@media (min-width: 1800px) {
    #index {
        height: 1000px;
    }

    #zdravlje {
        height: 1000px;
    }

    .kontakt-p {
        width: 900px;
    }

    form input {
        width: 40%;
    }

    form input:last-of-type {
        width: 40%;
    }

    textarea {
        width: 40%;
    }

    #logo img {
        width: 40%;
        margin: 50px auto;
        display: block;
    }

    #kontakt_crop {
        display: block;
        height: 700px;
        background-position: center;
        margin: 0;
    }

}

@media (max-width: 1100px) {

    /**********
  Recepti
 **********/

    #bilje {
        display: block;
        height: 400px;
        margin: 0;
    }

    #glavno3 section {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        width: 600px;

    }

    #glavno3 section :first-child {
        margin-top: 20px;
    }

    #glavno3 section :last-child {
        margin-bottom: 20px;
    }

    #glavno3 section div {
        margin: 0;
        justify-content: center;
        padding: 0 auto;
    }

    #glavno3 section li {
        font-size: 17px;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
        padding: 15px 5px;
    }

    #glavno3 section h3 {
        font-size: 20px;
        padding: 15px 0;
        text-decoration: underline;
    }

    #glavno3 section img {
        width: 300px;
        box-shadow: none;
        margin-top: 10px;
    }

    #glavno3 section p {
        font-size: 16px;
    }

}

@media(max-width: 767px) {

    /**********
   Pocetna
 **********/

    header {
        position: relative;
        top: 36px;
        margin-top: -36px;
    }

    nav a {
        display: none;
    }

    header nav {
        padding: 0;
    }

    button {
        position: sticky;
        margin: 0;
    }

    #index {
        clip-path: none;
        height: 420px;
        background-position: left;
    }

    aside {
        padding-bottom: 30px;
    }

    aside p {
        font-size: 17px;
        line-height: 1.6rem;
        text-align: left;
        padding: 25px 0;
    }

    aside h1 {
        margin-top: 290px;
        font-size: 1.5rem;
        text-align: center;
    }

    #glavno1 h2,
    #glavno1 h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    #glavno1 {
        clip-path: none;
    }

    #glavno1 p {
        font-size: 17px;
        line-height: 1.6rem;
    }

    #zaglavlje {
        width: 360px;
        height: 40px;
        font-size: large;
        padding: 20px 20px 200px;
        margin: 360px auto;
    }

    /**********
  Zdravlje
 **********/

    #zdravlje {
        height: 400px;
        background-position: left;
    }

    #glavno2 {
        font-size: 16px;
    }

    #glavno2 h2 {
        font-size: 22px;
    }

    #glavno2 h3 {
        font-size: 20px;
        padding: 10px 10px 10px 20px;
        text-align: left;
    }

    #glavno2 section p {
        padding: 20px 10px 50px 10px;
        line-height: 1.4rem;
    }

    div iframe {
        box-shadow: none;
        margin: 0;
        width: 100%;
        height: 200px;
    }

    .bottom p {
        padding: 10px;
        line-height: 1.4rem;
    }

    .bottom li {
        display: list-item;
        margin-left: 20px;
        word-wrap: break-word;
    }

    /**********
  Recepti
 **********/

    #bilje {
        display: block;
        height: 400px;
        margin: 0;
    }

    #glavno3 section {
        flex-direction: column;
        align-items: left;
        text-align: left;
        margin: 0 20px 20px 20px;
        width: unset;

    }

    #glavno3 section :first-child {
        margin-top: 20px;
    }

    #glavno3 section :last-child {
        margin-bottom: 20px;
    }

    #glavno3 section div {
        margin: 0;
    }

    #glavno3 section:last-of-type {
        margin: 0 20px;
    }

    #glavno3 section li {
        line-height: 1.4rem;
        font-size: 17px;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
        padding: 15px 5px;
    }

    #glavno3 section h3 {
        font-size: 20px;
        padding: 15px 0;
        text-decoration: underline;
    }

    #glavno3 section img {
        width: 300px;
        box-shadow: none;
        margin-top: 10px;
    }

    #glavno3 section p {
        font-size: 16px;
        line-height: 1.3rem;
    }

    /**********
  kontakt
 **********/

    #knjiga {
        display: block;
        height: 400px;
        margin: 0;
    }

    #kontakt h1 {
        font-size: 2rem;
    }

    .kontakt-p {
        line-height: 1.5rem;
        font-size: 20px;
        padding: 0 60px;
        margin: 100px auto 0;
    }

    form {
        margin-right: 70px;
    }

    #logo img {
        width: 100%;
    }

    textarea {
        padding: 10px;
        height: 200px;
    }


    #vegeburger-icon {
        display: inline-block;
    }

    #vegeburger-icon li {
        background-color: rgba(134, 99, 99, 0.781);
        text-align: center;
        width: 130px;
        padding: 10px 0 10px 0;
    }

    .popup {
        width: 300px;
    }

    .popup img {
        width: 100px;
       
    }

    .popup h2 {
        font-size: 30px;
    }

    .popup p {
        font-size: 20px;
        line-height: 1.5rem;
    }

}

@media (max-width: 360px) {
    #zaglavlje {
        width: unset;
        height: unset;
        font-size: medium;
        padding: 20px;
        margin: 370px auto;
    }

    .recepti {
        margin: 0;
    }

    #glavno3 section div {
        width: unset;
    }

    #glavno3 section img {
        height: 200px;
        width: 100%;

    }

    .popup {
        width: 250px;
    }

    .popup img {
        width: 80px;
       
    }

    .popup h2 {
        font-size: 25px;
    }

    .popup p {
        font-size: 18px;
        line-height: 1.4rem;
    }
}


